@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

h1{
    font-size: 90px;
    line-height: 90px;
    font-family: 'Josefin Sans', sans-serif;
}
h2{
    font-size: 60px;
    line-height: 65px;
    font-family: 'Josefin Sans', sans-serif;
}
h3{
    font-size: 36px;
    line-height: 46px;
    font-family: 'Josefin Sans', sans-serif;
}
h4{
    font-size: 28px;
    line-height: 38px;
    font-family: 'Josefin Sans', sans-serif;
}
h5{
    font-size: 24px;
    line-height: 34px;
    font-family: 'Josefin Sans', sans-serif;
}
h6{
    font-size: 20px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
p{
    font-size: 16px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}
span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.font-18{
    font-size: 18px;
    line-height: 28px;
    font-family: 'Josefin Sans', sans-serif;
}
.fw-4{
    font-weight: 400;
}
.fw-5{
    font-weight: 500;
}
.fw-6{
    font-weight: 600;
}
.fw-7{
    font-weight: 700;
}

.color-4938a2{
    color: #4938a2;
}
.color-6342ff{
    color: #6342ff;
}
.color-33276a{
    color: #33276a;
}
.color-4f457c{
    color: #4f457c;
}
.color-5d5779{
    color: #5d5779;
}
.color-fff{
    color: #fff;
}
/* padding */
.pt-10{
    padding-top: 10px;
}
.pt-15{
    padding-top: 15px;
}
.pt-20{
    padding-top: 20px;
}
.pt-30{
    padding-top: 30px;
}
.pt-60{
    padding-top: 60px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-15{
    padding-bottom: 15px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-30{
    padding-bottom: 30px;
}
.pb-60{
    padding-bottom: 60px;
}
img{
    max-width: 100%;
}
/* preloder css start */
.preloders img{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #67d40d;
    left: 0;
    top: 0;
    z-index: 9999;
}
.sticky-menu{
    background: linear-gradient(to left, rgb(213, 212, 215) 20%, rgb(239, 239, 244) 80%);
}
/* scroll up to bottom */
.scroll-up{
    position: fixed;
    right: 3%;
    bottom: 5%;
    width: 40px;
    height: 40px;
    background: rgb(125, 16, 234);
    box-shadow: 0px 7px 13px 0px rgba(153, 99, 255, 0.59);
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    z-index: 7;
}
.scroll-up i{
    color: #fff;
    text-align: center;
    line-height: 40px;
}
/* preloder css start */

li {list-style: none;}
a{text-decoration: none;}
ul{
    margin: 0;
    padding: 0;
}
/* headroom start css */

/* main menu css start */
.menu-section {
    position: fixed;
    width: 100%;
    z-index: 5;
    padding: 5px 0 5px;
    top: 0;
    left: 0;
    width: 100%; 
  }
.navbar-toggler{
    border: none;
}
.navbar-toggler-icon{
    background-image: url(../img/preloder/menu-icon-png-3-lines-11552728985kzvoymuey0.png);
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: end !important;
}
li.nav-item {
    margin-right: 20px;
}
.nav-link{
    color: #33276a !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.btn-outline-success{
    padding: 10px 30px;
    text-transform: uppercase;
    border: none;
    color: white;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 7px 13px 0px rgba(153, 99, 255, 0.59);
    background: linear-gradient(to left, rgb(144,62,255) 20%, rgba(75,31,255,1) 80%);
}
.nice-select{
    background: transparent;
    border: none;
    width: 100px;
    height: 40px;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.nice-select span{
    font-weight: 600;
}
.nice-select .list{
    background: #fff;
}
  
.nice-select:after {
    border-bottom: 3px solid #33276a;
    border-right: 3px solid #33276a;
    content: '';
    display: block;
    height: 10px;
    margin-top: -12px;
    right: 12px;
    top: 50%;
    width: 10px;
}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
    background-color: #9ea0ae;
}
/* header-section css start */
.header-section{
    background-image: url(../img/header-main-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 55px;
    position: relative;
}
.about-box-right{
    position: relative;
}
.about-box-right img{
    position: absolute;
    left: 0;
    top: 0;
    content: '';
}
.header-box{
    margin-top: 150px;
    background: white;
    padding: 20px;
    justify-content: space-between;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px #666;
}
.header-box-min{
    background: #f4f5ff;
    padding: 10px;
    border-radius: 10px;
}
.select-coin{
    border: none;
    background: none;
}
.select-coin .list{
    background: #fff;
    font-weight: 600;
}
.select-coin:after{
    border-bottom: 3px solid #4938a2;
    border-right: 3px solid #4938a2;
}
.select-coin:focus{
    outline: none;
}
.select-coin{
    padding-left: 30px;
}
.nice-select .option.selected,
.nice-select .option{
    font-weight: 600;
}
.select-coin .option:hover, .select-coin .option.focus, .select-coin .option.selected.focus {
    background-color: #f5f5f5;
}
.input{
    width: 100%;
    border: 1px solid rgb(190, 174, 255);
    border-radius: 50px;
    padding:10px 22px;
    background-color: rgb(223, 225, 254);
    font-size: 24px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    color: #4938a2;
}
.input:focus{
    box-shadow: none;
    outline: none;
}
.input::-webkit-input-placeholder{
    color: #4938a2;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
.header-box-buttom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 
.sync{
    background: linear-gradient(to left, rgb(144,62,255) 20%, rgba(75,31,255,1) 80%);
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    font-size: 21px;
}
.header-btn{
    padding: 13px 30px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    color: white;
    border-radius: 50px;
    transition: 0.3s;
    background: linear-gradient(to left, rgb(144,62,255) 20%, rgba(75,31,255,1) 80%);
}
.btns{
    box-shadow: 0px 7px 13px 0px rgba(153, 99, 255, 0.59);
    border: none;
    transition: 0.3s;
}
.btns:hover{
    background: linear-gradient(to right, rgb(144,62,255) 20%, rgba(75,31,255,1) 80%);
    color: #fff;
}
.header-bottom li{
    display: inline-block;
    list-style: none;
}
.header-bottom li{
    color: #fec579 !important;
    text-align: end;
}
.header-bottom-right{
    text-align: end;
}

/* search-section css start */
.search-section{
    padding: 57px 0 110px 0;
}
.search-top{
    width: 100%;
    position: relative;
}
.search-input{
    border: 1px solid #beaeff;
    background: #f9f9ff;
    padding: 20px 40px 20px 50px;
    border-radius: 50px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
.search-input:focus{
    outline: none;
}
.search-input::-webkit-input-placeholder{
    font-size: 18px;
    color: #5d5779;
}
.right-btn{
    position: absolute;
    content: '';
    top: 10px;
    right: 1%;
    border: none;
    background: linear-gradient(to left, rgb(144,62,255) 20%, rgba(75,31,255,1) 80%);
    color: white;
    text-transform: uppercase;
    padding: 13px 30px;
    border-radius: 50px;
}
  
/* search-section css end */

/* responsive-table section css start */
.responsive-table{ 
    overflow-x: auto;
    background: #F8FAFF;
    padding: 20px;
    border-radius: 10px;
    margin-top: 60px;
}
.table-item{
    width: 100%;
}
.head-name{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.table-head .head-name .head{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-align: center; 
    padding: 30px 27px 20px 27px;
    color: #33276a;
    border-bottom: 1px solid #dcdada;
}
.table-boxcoin .child-item:first-child,
.table-head .head-name th:first-child{
    text-align: left;
}
.table-boxcoin{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #dcdada;
    border-collapse: collapse;
}
.table-boxcoin:last-child{
    border: none;
}
.table-boxcoin .child-item{
    text-align: center;
}
.name{
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.name:hover{
    color: #3b368c;
}
.one{
    background: linear-gradient(to bottom, rgb(89, 3, 236) 30%, #8037ff 70%);
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 50px;
    padding: 10px 30px;
    transition: 0.3s;
}
.one:hover{
    background: linear-gradient(to top, rgb(89, 3, 236) 30%, #8037ff 70%);
    color: #fff;
}
.two{
    background: linear-gradient(to bottom, #ea6927 20%, #f68d18 80%);
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 50px;
    padding: 10px 30px;
    transition: 0.3s;
}
.two:hover{
    background: linear-gradient(to top, #ea6927 20%, #f68d18 80%);
    color: #fff;
}
.persent,
.child-item,
.name{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #33244d;
}
.child-item .color-30c982{
    color: #30c982;
}
.child-item .color-f95d5c{
    color: #f95d5c;
}
/* cryptocurrency section start css */
.cryptocurrency-section{
    padding-top: 200px;
    background-image: url(../img/stay-center-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
    margin-bottom: 150px;
}

.cryptocurrency-logo{
    text-align: center;
    background: white;
    border-radius: 50%;
    padding: 25px;
    margin-bottom: -200px;
    border-top: 2px solid #6342ff;
    z-index: 2;
}

/* cryptocurrency section  css end*/
/* feature-section css start */
.feature-section{
    padding-top: 136px;
}
.feature-text{
    font-family: 'Josefin Sans', sans-serif;
    color: #33276a;
    padding: 10px 10px 10px 10px;
}
.feature-box{
    background: #fff;
    text-align: center;
    padding: 20px;
    min-height: 310px;
    position: relative;
    border-radius: 10px;
    content: '';
    z-index: 2;
    box-shadow: 1.95px 15.881px 30px 0px rgba(47, 105, 252, 0.31);
}
.feature-three,
.feature-one{
    margin-top: -70px;
}

.feature-header-section{
    background: #e3eafb;
    padding-top: 100px;
    padding-left: 400px;
    padding-bottom: 70px;
    margin-left: -70%;
}

.feature-btn{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    margin-top: 50px;
    color: #6a35ff;
    padding-right: 20px;
    display: block;
}
.feature-btn i{transition: 0.3s;}
 .feature-btn:hover i{
    padding-left: 10px;
}  

.feature-header-section img{
    text-align: end;
}
/* getway-section css start */
.getway-section{
    padding: 86px 0 110px 0;
}
.get-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.get-head{
    color: #6342ff;
    padding-left: 20px;
}
.get-logo img{
    margin: 10px;
}
/* getway-section css end */
/* testimonial-section css start */
.testimonial-section{
    padding: 90px 0 0px 0px;
    background-image: url(../img/testmonial-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.testimonial-item-box{
    margin-bottom: -100px;
}
.testimonial-box{
    background-color: rgb(255, 255, 255);
    box-shadow: 2.781px 8.56px 10px 0px rgba(155, 162, 215, 0.5);
    border-radius: 10px;
    text-align: center;
}
.testimonial-text{
    padding: 25px 40px;
}
.test-content{
    font-family: 'Josefin Sans', sans-serif;
    color: #3b368c;
}
.icon{
    font-size: 17px;
    line-height: 27px;
    padding-bottom: 20px;
    color: #ee9016;
}
.single-testimonial-box{
    border-top: 1px solid rgb(183, 150, 236);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 40px;
}
.client-name{
    font-family: 'Josefin Sans', sans-serif;
    color: #3b368c;
    margin: 0;
}
.client-join{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #3b368c;

}
/* testimonial section end  */
/* counter-section css start */
.counter-section{
    padding: 120px 0 120px 0;
    margin-top: 100px;
}
.counter-area{
    position: relative;
    background-image: url(../img/counter-area-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 60px 0px;
    box-shadow: 1.414px 1.414px 109px 0px rgba(155, 162, 215, 0.5);
    border-radius: 10px;
}
.counter-box{
    font-family: 'Josefin Sans', sans-serif;
    color: #6342ff;
} 
.counter-rivew{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-family: 400;
    color: #3b368c;
}
.counter{
    display: inline-block;
    width: 100px;
    font-size: 60px;
    line-height: 65px;
    font-family: 'Josefin Sans', sans-serif;
}
.circle{
    position: absolute;
    content: '';
}
.circle-1{
    left: 4%;
    bottom: 15%;
    animation: circle-1 10s linear infinite;
}
@keyframes circle-1
{
    0%{
       left: 5%;
       top: 5%;
    }
    25%{
        left: 15%;
        top: 10%;
    }
    50%{
        left: 25%;
        top: 30%;
    }
    75%{
        left: 15%;
        top: 35%;
    }
    100%{
        left: 5%;
        top: 5%;
    }
}
.circle-2{
    left: 35%;
    top: 45%;
    animation: circle-2 12s linear infinite;
}
@keyframes circle-2
{
    0%{
       left: 35%;
       top: 45%;
    }
    25%{
        left: 40%;
        top: 16%;
    }
    50%{
        left: 45%;
        top: 10%;
    }
    75%{
        left: 50%;
        top: 5%;
    }
    100%{
        left: 35%;
        top: 45%;
    }
}
.circle-3{
    right: 3%;
    top: 2%;
    animation: circle-3 17s linear infinite;
}
@keyframes circle-3
{
    0%{
        right: 3%;
        top: 2%;
    }
    25%{
        right: 5%;
        top: 10%;
    }
    50%{
        right: 10%;
        top: 30%;
    }
    75%{
        right: 20%;
        top: 72%;
    }
    100%{
        right: 3%;
        top: 2%;
    }
}
.circle-4{
    right: 34%;
    bottom: 8%;
    animation: circle-4 15s linear infinite;
}
@keyframes circle-4
{
    0%{
        right: 34%;
        bottom: 8%;
    }
    25%{
        right: 30%;
        bottom: 12%;
    }
    50%{
        right: 25%;
        bottom: 28%;
    }
    75%{
        right: 20%;
        bottom: 50%;
    }
    100%{
        right: 34%;
        bottom: 8%;
    }
}
/* footer section css start */
.footer-section{
    padding: 97px 0 104px 0;
    background-image: url(../img/footer-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-area{
    border-bottom: 1px solid rgb(148, 139, 191);
}
.footer-link-area{
    padding-top: 30px;
}
.footer-btn{
    top: 0;
    right: 0;
    padding: 14px 25px;
    text-transform: capitalize;
    color: #fff;
}
.footer-input{
    padding: 12px 40px 12px 40px;
    background-color: rgb(222, 230, 255);
    color: #5d5779;
    font-size: 18px;
    font-family:  'Josefin Sans', sans-serif;
}
.footer-item{
    margin-top: 25px;
}
.footer-link{
    display: inline-block;
    margin-bottom: 10px;
    color: #5d5779;
    transition: 0.3s;
}
.footer-link:hover{
    color: #4938a2;
}
/* copy-right-area css start */
.copy-right-area{
    padding: 20px 0;
    background: #6342ff;
    border-radius: 10px 10px 0px 0px;
}
.copy-link{
    color: #9ea0ae;
    transition: 0.3s;
}
.copy-link:hover{
    color: #ee9016;
}
.copy-right{
    text-align: start;
}
.social-link{
    text-align: end;
}
.social-link ul li{
    display: inline-block;
}
.social-link ul li a{
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 40px;
    margin: 0 5px;
    transition: 0.3s;
}
.social-link ul li a:hover{
    background: #ee9016;
    border: none;
}
.social-link ul li a i{
    font-size: 15px;
    color: #fff;
}